<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="=utf-8">
    <title>Floraria Firefly</title>

</head>
<body>
    <header>
    <img class = "logo" src="/images/logo.png" alt="logo">
    <nav> 
        <div id="menu">
            <div id="menu-title">
            <h1>Menu</h1>
            </div>
            <div class="nav__links">
                <div class="link"> <a href="/">Home</a></div>
                <div class="link"> <a href="/chestionar">Chestionar</a></div>
                <div class="link"> <a href="/autentificare">Log In</a></div>
                <div class="link"> <a href="/deconectare">Log Out</a></div>
                <div class="link"> <a href="/vizualizare-cos">Vezi Cos</a></div>
            </div>
        </div> 
        
    </nav>
    <img class = "logo" src="/images/logo.png" alt="logo2">
</header>
<section id="main-section">
   
    <%-body%>
</section>
<footer>
    <div class="tuna">
        <div class = "author">Author: Alberto ©2021</div>
        <div class = "tip">TIP: She loves me... She loves me not...!</div>
        <img class = "logo3" src="/images/flower.png" alt="logo3">
        
    </div> 
 </footer>

</body>
</html>
